#portfolio-wrapper {
  .row,
  .card {
    margin-bottom: 10px;
  }

  .card {
    border: 1px solid black;
    box-shadow: 2px 3px #1e5799;

    &.card-details {
      min-height: 230px;
    }
  }

  .row.game-data {
    .portfolio-header-title {
      font-size: 1.5em;
      font-weight: bold;

      i.fa-folder {
        color: #e7c9a9;
      }

      i.fa {
        margin-right: 3px;
      }
    }

    .portfolio-header-detail {
      margin: 0px;
      font-size: 1.1em;

      span.detail-header {
        font-weight: bold;
      }
    }
  }

  .row {
    .portfolio-investments {
      #emptyPortfolioTips {
        #main {
          font-size: 1.3em;
          font-weight: 500;
        }
        .secondary {
          margin-bottom: 0px;
          font-size: 0.9em;
        }
      }

      .portfolio-header-title {
        font-weight: bold;
        i.fa-money-bill-alt {
          color: green;
          margin-right: 8px;
        }

        #investmentTotalAmt {
          font-size: 0.8em;
          display: block;
          color: green;
          font-weight: normal;
        }
      }

      .table-responsive {
        padding: 0px 20px; //padding on top and botton only

        th {
          text-align: center;
        }

        #investment-records {
          td {
            line-height: 50px;
            text-align: center;
          }

          td.logoTd {
            position: relative;
            .logo {
              height: 50px;
              width: 50px;
              margin-right: 5px;
              cursor: pointer;
            }
            .pointSpread {
              position: absolute;
              top: 7px;
              right: 7px;
              line-height: 1.2em;
              padding: 2px;
              font-size: 0.9em;
              border-radius: 3px;
              background-color: rgb(248, 226, 226);
              font-weight: bold;
            }
          }
        }
      }
    }

    .card.portfolioLinks {
      text-align: center;
      font-size: 1.3em;

      a {
        display: block;
        margin-bottom: 10px;
      }
    }
  }
}
