@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");

@import "../navbar/navbar.scss";
@import "../market/market.scss";
@import "../portfolio/portfolio.scss";
@import "../trade/trade.scss";
@import "../calculator/calculator.scss";
@import "../leaderboard/leaderboard.scss";
@import "../gamerules/rules.scss";
@import "./socialmediabtns.scss";

body,
html {
  margin: 0px;
  background-color: #ededed !important;
}

html {
  overflow-y: scroll;
}

.text-center {
  text-align: center;
}

.theme-font {
  color: #1e5799;
  font-weight: bold;
}

@media (max-width: 575.98px) {
  .hideSmall {
    display: none;
  }
}
