@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");

@import "../navbar/navbar.scss";
@import "../market/market.scss";
@import "../portfolio/portfolio.scss";

body,
html {
  margin: 0px;
  background-color: #ededed !important;
}

html {
  overflow-y: scroll;
}
