@media print {
  .print-title {
    display: block;
    text-align: center;
  }

  #leaderboard {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
  }

  #leaderboard h2 {
    display: none;
  }

  .non-printable {
    display: none;
  }
}
