#admin-wrapper {
  h2 {
    margin-top: 10px;
    font-family: "Alfa Slab One", sans-serif;
  }

  .card-body {
    .loading-wrapper {
      width: 100%;
      text-align: center;
    }
  }

  #game-settings-wrapper {
    form {
      margin-bottom: 50px;

      button {
        margin-top: 0px;
        font-size: smaller;
        display: block;
        font-weight: bold;
      }
    }

    #current-round-form {
      #current-round-radio-wrapper {
        span {
          margin-right: 20px;
          input[type="radio"] {
            margin-right: 5px;
            margin-bottom: 15px;
          }
        }
      }
    }

    #sign-up-allowed-form {
      input[type="checkbox"] {
        margin-right: 5px;
        display: inline;
      }
    }
  }

  #seed-settings-wrapper {
    .card-body {
      .set {
        font-weight: bold;
        input.team-seed-input {
          box-shadow: green 2px 2px;
        }
      }

      input.team-seed-input {
        max-width: 30px;
        margin-right: 10px;
        margin-bottom: 10px;
        text-align: center;
      }
    }
  }

  #set-point-spread-wrapper {
    .card-body {
      p {
        margin-left: 10px;
      }

      input.team-point-spread-input {
        max-width: 70px;
        margin-right: 10px;
        margin-bottom: 10px;
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  #admin-wrapper {
    #current-round-form {
      #current-round-radio-wrapper {
        span {
          display: block;
        }
      }
    }

    .row {
      margin-bottom: 0px;
    }

    .card {
      margin-top: 2vh;
    }
  }
}
