.card {
    box-shadow: 2px 3px #1e5799;
}

.leaders {
    margin-top: 20px;
    margin-bottom: 50px;
}

.leadersTable {
        font-size: 1.5em;
        text-align: center;
        table-layout: auto;
        width: 100%;
}

#paypalMessage {
    text-align: center;
}

#paypalResult {
    margin-top: 20px;
}

#payoutsTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  padding: 15px;
}

#payoutsTable, #payoutsTable th, #payoutsTable td {
    text-align: center;
    padding: 6px;
}



@media screen and (max-width: 600px) {

    .leaders {
        margin-top: 15px;
    }

    .leadersTable {
            font-size: 1em;
    }


    #PreviousWinners {
        margin-top: 20px;
    }

}