nav {
	margin-bottom: 20px;
}

.team {
	background-color: white;
	margin-top: 20px;
	border: 1px solid black;
	border-radius: 7px;
}

.team_name {
	font-weight: bold;
	font-size: 1.3em;
}

.card-header {
	text-align: center;
}

.card-body {
    min-height: 283px;
	padding: 10px;
}

.team_currentPrice {
	margin-top: 20px;
	margin-right: 20px;
	font-weight: bold;
	font-size: 1.3em;
	float: right;
}

.logo_header {
	height: 70px;
	width: 70px;
	margin: auto;
	display: inline-block;
}

.pointSpreadInfo {
    cursor: help;
}

.outstanding {
	float: right;
}

h6 {
	margin-bottom: 12px;
}

table {
	border-collapse: collapse;
}

th,
td {
	text-align: center;
}

th {
	border-bottom: 1px solid black;
}

.tradeBTN {
	text-align: right;
	margin-top: 15px;
	margin-bottom: 10px;
	margin-right: 30px;
}

.adsContainer {
    text-align: center;
    padding: 30px;
}

.adWrapper {
    margin: 20px;
    margin-bottom: 8px;
    border: 2px solid white;
    display: inline-block;
}

.ad {
    width: 250px;
    height: 250px;
}

.ad:hover {
    cursor: pointer;
}

.adTag {
    margin-top: 13px;
    margin-bottom: 10px;
    font-style: italic;
}

@media screen and (max-width: 600px) {
	.team {
    	padding: 1px;
    }
	nav {
		margin-bottom: 0px;
	}
	.team_name {
		font-weight: bold;
		font-size: 1em;
	}
    .adWrapper {
       display: none;
    }
	.adWrapper:first-child {
	    margin: auto;
        display: block;
        border: 0px;
    }
    .ad {
       border-radius: 10px;
    }
}