.APP_WRAPPER {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 1.714;
  max-width: 720px;
  margin: 24px auto 48px;
  padding: 1.5em;
}

.nav-link {
    padding: 0px;
    color: #326B9B;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
a:hover {
  color: #1e5799;
  border-bottom: 1px dotted;
}

/* Hover Selectors to list (optional) */
.list li {
  position: relative;
  padding-bottom: 6px;
}
.list li:hover:before {
  content: "›";
  color: #1e5799;
  position: absolute;
  left: -20px;
  line-height: 1.2;
}

.backBTN {
    font-size: 1.2em;
    font-weight: bold;
}

.sticky {
  z-index: 99;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 15px;
  background-color: #ededed;
  margin-bottom: 20px;
  border-bottom: 2px groove black;
}

h2 {
    margin-top: 60px;
}

h2:before {
   content: "";
   border: solid 1px #326B9B;
   padding: 1px;
   background-color: #326B9B;
   width: 1px;
   margin: 0 10px 0 0;
}

a.anchor {
    display: block;
    position: relative;
    top: -200px;
    visibility: hidden;
}

#pointSpreadCalHeader {
    margin-top: 50px;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}

#pointSpreadCal {
    margin: auto;
    text-align: center;
    border: 1px solid black;
    border-radius: 12px;
    padding: 30px;
    margin-bottom: 130px;
    width: 80%;
    background-color: #fafafa;
}

.spreads {
    margin-top: 15px;
}

#CoverdTeam {
    margin-top: 25px;
}

.result {
    font-weight: bold;
}

input {
    z-index: -99;
    text-align: center;
    padding: 6px;
}

input:invalid {
   border: 2px solid red;
}

@media screen and (max-width: 600px) {

    h2 {
        font-size: 1.4rem;
        font-weight: bold;
        margin-top: 20px;
    }


.sticky {
  border-bottom: 0px solid black;
}

}