<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Leaderboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Alfa Slab One' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="css/Header.css">
    <link rel="stylesheet" type="text/css" href="css/Leaderboard.css">
    <script src="js/Leaderboard.js"></script>
</head>
<body>
<header class="header">
    <div id="logo"></div>
    <h1>College Basketball's Blue Chips</h1>
</header>
<div class="container app">
    <nav>
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="/portfolio">My Portfolio</a>
            </li>
        </ul>
    </nav>
    <div class="row">
        <div class="col-lg-6">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Ranking</th>
                    <th scope="col"><i class="fas fa-user-circle"></i> Name</th>
                    <th scope="col"><i class="fas fa-dollar-sign"></i> Networth</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Jacob Meller<br></td>
                    <td>$533,725</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Brent Thoenen<br></td>
                    <td>$405,600</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Baylie Borman<br></td>
                    <td>$371,200</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Judy English<br></td>
                    <td>$270,625</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>Michael Pezold<br></td>
                    <td>$191,725</td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td>Brent Bates<br></td>
                    <td>$175,125</td>
                </tr>
                <tr>
                    <th scope="row">7</th>
                    <td>Cory Loeffelman<br></td>
                    <td>$168,250</td>
                </tr>
                <tr>
                    <th scope="row">8</th>
                    <td>Richard English<br></td>
                    <td>$161,900</td>
                </tr>
                <tr>
                    <th scope="row">9</th>
                    <td>Patrick Steuber<br></td>
                    <td>$144,750</td>
                </tr>
                <tr>
                    <th scope="row">10</th>
                    <td>Harlan Borman<br></td>
                    <td>$128,725</td>
                </tr>
                <tr>
                    <th scope="row">11</th>
                    <td>Kolten Navarro<br></td>
                    <td>$100,000</td>
                </tr>
                <tr>
                    <th scope="row">12</th>
                    <td>Kegan Brown<br></td>
                    <td>$100,000</td>
                </tr>
                <tr>
                    <th scope="row">13</th>
                    <td>Test Blah<br></td>
                    <td>$100,000</td>
                </tr>
                <tr>
                    <th scope="row">14</th>
                    <td>Dan Martin<br></td>
                    <td>$100,000</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-6">
            <div style="padding: 20px;" class="card">
                <h4>Previous Winners:</h4>
                <ul>
                    <li>Jacob Meller 2018</li>
                    <li>Richard English 2017</li>
                </ul>
            </div>
        </div>
    </div>

</body>
</html>