<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Leaderboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Alfa Slab One' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="css/Header.css">
    <link rel="stylesheet" type="text/css" href="css/Leaderboard.css">
    <script src="js/Leaderboard.js"></script>
</head>
<body>
<header class="header">
    <div id="logo"></div>
    <h1>College Basketball's Bluechips</h1>
</header>
<div class="container app">
    <nav>
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="/portfolio">My Portfolio</a>
            </li>
        </ul>
    </nav>
    <div class="row leaders">
        <div class="col-lg-8">
            <table class="table table-hover leadersTable">
                <thead>
                <tr>
                    <th scope="col">Ranking</th>
                    <th scope="col"><i class="fas fa-user-circle"></i> Name</th>
                    <th scope="col"><i class="fas fa-dollar-sign"></i> Networth</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="leader : ${leaderboard}">
                    <td th:text=" ${leader.ranking}"></td>
                    <td th:text=" ${leader.userName}"></td>
                    <td th:text="'$' + ${#numbers.formatDecimal(leader.value, 1, 'DEFAULT', 0, 'DEFAULT')}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="my-hr"></div>
        <div id="PreviousWinners" class="col-lg-4">
            <div style="padding: 20px;" class="card">
                <h4>Previous Winners:</h4>
                <ul>
                    <li>Jacob Meller 2018</li>
                    <li>Richard English 2017</li>
                </ul>
            </div>
            <div style="padding: 20px; margin-top: 25px;" class="card">
                <h4>Payouts:</h4>
                <table id="payoutsTable">
                    <tr>
                        <th>Rank</th>
                        <th>Reward</th>
                    </tr>
                    <tr th:each="instance : ${payouts}">
                        <td th:text="${instance.key}">keyvalue</td>
                        <td th:text="${instance.value}">num</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</body>
</html>