<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/Market.css"/>
    <title>Market</title>
    <style>
    </style>
</head>
<body>
<div class="container">
    <h1 th:text="${title}"></h1>
    <hr/>
    <div class="row">
        <div class="col-sm-6" th:each="team : ${teams}">
            <div class="team">
                <img class="logo_header" th:src="@{${'/img/' + team.teamName + '.png'}}"/>
<!--                <img class="logo_header" th:src="${team.logoULR}"/>-->
                <span class="team_name" th:text="${team.teamName}"></span>
                <span class="team_currentPrice"
                      th:text="'$' + ${#numbers.formatDecimal(team.currentMarketPrice, 1, 'DEFAULT', 0, 'DEFAULT')}"></span>
                <div class="card">
                    <div th:text="${team.nextPointSpread} + ' VS: ' + ${team.nextTeamPlaying}"
                         class="card-header"></div>
                    <div class="card-body">
                        <h6 class="price_history_toggle">Price History by Round <i class="fas fa-caret-down"></i></h6>
                        <div class="table_Wrapper" style="display: none;">
                            <table style="width:100%">
                                <tr>
                                    <th>64</th>
                                    <th>32</th>
                                    <th>16</th>
                                    <th>8</th>
                                    <th>4</th>
                                    <th>2</th>
                                </tr>
                                <tr>
                                    <td th:each="mapEntry : ${team.priceHistory}">
                                        <span th:text="'$' + ${#numbers.formatDecimal(mapEntry.value, 1, 'DEFAULT', 0, 'DEFAULT')}"></span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer">
                        <span class="seed" th:text="'Seed: ' + ${team.seed}"></span>
                        <span class="outstanding" th:text="'Shares Outstanding: ' + ${team.sharesOutstanding}"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
    $(document).ready(function(){
      $(".price_history_toggle").click(function(){
        //$(this).find(".fa-caret-down").css("transform": "rotate(180deg"));
        $(this).siblings(".table_Wrapper").toggle(200)
      });
    });
    </script>
</div>
</body>
</html>