<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/Market.css"/>
    <title>Market</title>
    <style>
    </style>
</head>
<body>
<div class="container">
    <h1 th:text="${title}"></h1>
    <hr />
    <div class="row">
        <div class="col-sm-6" th:each="team : ${teams}">
            <div class="team">
                <img class="logo_header" th:src="@{${'/img/' + team.teamName + '.png'}}"/>
                <span class="team_name" th:text="${team.teamName}"></span>
                <span class="team_currentPrice"
                      th:text="'$' + ${#numbers.formatDecimal(team.currentMarketPrice, 1, 'DEFAULT', 0, 'DEFAULT')}"></span>
                <div class="card">
                    <div th:text="'Next Point Spread: ' + ${team.nextPointSpread} + ' VS: ' + ${team.nextTeamPlaying}" class="card-header"></div>
                    <div class="card-body">
                        <h6>Price History by Round</h6>
                        <table style="width:100%">
                            <tr><th>64</th><th>32</th><th>16</th><th>8</th><th>4</th><th>2</th></tr>
                            <tr>
                                <td th:each="mapEntry : ${team.priceHistory}">
                                    <span th:text="'$' + ${#numbers.formatDecimal(mapEntry.value, 1, 'DEFAULT', 0, 'DEFAULT')}"></span>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="card-footer">
                        <span class="seed" th:text="'Seed: ' + ${team.seed}"></span>
                        <span class="outstanding" th:text="'Shares Outstanding: ' + ${team.sharesOutstanding}"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <br/>
    <div id="chartContainer1"></div>
    <script>

       var chart1 = new CanvasJS.Chart("chartContainer1",{
    title :{
        text: "Live Data"
    },
    data: [{
	type: "line",
        dataPoints : [
	    { label: "apple",  y: 10  },
	    { label: "orange", y: 15  },
	    { label: "banana", y: 25  },
	    { label: "mango",  y: 30  },
	    { label: "grape",  y: 28  }
	]
    }]
});

chart1.render();

    </script>


</div>
</body>
</html>