<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>My Portfolio</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Alfa Slab One' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="css/Header.css">
    <link rel="stylesheet" type="text/css" href="css/Portfolio.css">
    <script src="js/Portfolio.js"></script>
    <link rel="icon" href="https://listimg.pinclipart.com/picdir/s/71-713825_clip-art-arrow-bar-chart-diagram-graph-growth.png">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-155112023-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-155112023-1');
</script>
</head>
<body>
<header class="header"><div id="logo"></div>
    <h1>College Basketball's Bluechips</h1>
</header>
<div class="container app">
    <div class="row">
        <div class="col-lg-6 ">
            <div class="card">
                <div class="card-header"><h2><i class="fas fa-folder-open"></i>
                    <span th:text="${user.firstName + ' ' + user.lastName + ': Portfolio'}" ></span></h2></div>
                <div class="card-body mainItem">
                    <div class="row">
                        <div class="col-lg-12 PortfolioItem">
                            <h2 class="networthh2"><b>My Networth:</b> <span th:text="'$' + ${#numbers.formatDecimal((portfolio.portfolioValue + portfolio.cash), 1, 'DEFAULT', 0, 'DEFAULT')}" id="Networth"></span></h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 PortfolioItem">
                            <h5><b>Cash:</b> <span th:text="'$' + ${#numbers.formatDecimal(portfolio.cash, 1, 'DEFAULT', 0, 'DEFAULT')}" style="color: green;"></span></h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 PortfolioItem">
                            <h5><b>Transactions: </b><span th:text="${portfolio.myTransactionsCount}" id="Transactions"></span></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card text-justify">
                <div class="card-header"><h2><i class="fas fa-tachometer-alt"></i> Game flow</h2></div>
                <div class="card-body mainItem">
                    <div class="row">
                        <div class="col-lg-12 gameFlowItem">
                            <b>Leader's Value:</b> <span th:text="'$' + ${#numbers.formatDecimal(portfolio.leadersValue, 1, 'DEFAULT', 0, 'DEFAULT')}" id="Leader"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 gameFlowItem">
                            <b>Total Money in Play:</b> <span th:text="'$' + ${#numbers.formatDecimal(portfolio.totalMoneyInPlay, 1, 'DEFAULT', 0, 'DEFAULT')}" id="TotalMoney"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 gameFlowItem">
                            <b>Current Round:</b> <span th:text="${portfolio.roundOfPlay}" id="CurrentRound"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 gameFlowItem">
                            <b>Total Transactions thus far:</b> <span th:text="${portfolio.gameTotalTransactionCount}" id="GrandTransactions"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-header">
                    <h2><i class="fas fa-money-bill-alt"></i> My Investments</h2>
                    <span id="investmentTOTAL" th:text="'$' + ${#numbers.formatDecimal(portfolio.portfolioValue, 1, 'DEFAULT', 0, 'DEFAULT')}"></span>
                    <div class="showSmall"><br />Click logo to trade</div>
                </div>
                <div th:if="${user.teamsOwned==null or user.teamsOwned.empty}">
                    <p class="emptyPortfolioLink">Please visit the <a href="/market">Market</a> to fill portfolio.</p>
                </div>
                <div th:if="${user.teamsOwned !=null and !user.teamsOwned.empty}" class="table-responsive-lg">
                    <table class="table table-hover table-striped text-center">
                        <thead>
                        <tr>
                            <th scope="col">Institution</th>
                            <th scope="col">Amt Owned</th>
                            <th scope="col">Market Price</th>
                            <th scope="col">Total Value</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="team : ${user.teamsOwned}">
                            <td><img th:id="${team.teamId}" class="logo" th:src="@{${'/img/' + team.teamName + '.png'}}" /><span th:text="${team.teamName}" class="hideSmall"></span></td>
                            <td th:text="${team.amountOwned}"></td>
                            <td th:text="'$' + ${#numbers.formatDecimal(team.currentMarketPrice, 1, 'DEFAULT', 0, 'DEFAULT')}"></td>
                            <td th:text="'$' + ${#numbers.formatDecimal((team.amountOwned * team.currentMarketPrice), 1, 'DEFAULT', 0, 'DEFAULT')}"></td>
                            <td class="hideSmall">
                                <button th:if="${team.locked}" th:id="${team.teamId + 'btn'}" type="button" disabled class="tradeBTN btn btn-primary">Trade <i class="fas fa-lock"></i></button>
                                <button th:if="${!team.locked}" th:id="${team.teamId + 'btn'}" type="button" class="tradeBTN btn btn-primary">Trade</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="card-footer"><i><b>As of: </b><span id="dateTime"></span></i></div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card optionLinks">
                <div class="card-header"><h2><i class="fas fa-cog"></i> Options</h2></div>
                <div class="card-body">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="/market">Market</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/leaderboard">Leaderboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/comments">Comments</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/transactions">Transactions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/rules">How To Play</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/settings">Settings</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="user/logout">Log Out</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
