<!DOCTYPE html>
<html>
<head>
    <title>How to play</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css"
          integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Alfa Slab One' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="css/Header.css">
    <link rel="stylesheet" type="text/css" href="css/Rules.css">
    <link rel="icon" href="https://listimg.pinclipart.com/picdir/s/71-713825_clip-art-arrow-bar-chart-diagram-graph-growth.png">
</head>
<body>
<header class="header">
    <div id="logo"></div>
    <h1>College Basketball's Blue Chips</h1>
</header>
<div class="APP_WRAPPER">
    <ul class="list">
        <li><a href="#Objective" class="nav-link">Objective</a></li>
        <li><a href="#Pointspread" class="nav-link">Understanding the Point-spread</a></li>
        <li><a href="#Initial" class="nav-link">Initial Setup</a></li>
        <li><a href="#Buying" class="nav-link">Buying</a></li>
        <li><a href="#Selling" class="nav-link">Selling</a></li>
        <li><a href="#spread" class="nav-link">Understanding Point-spread</a></li>
    </ul>
    <div class="sticky">
    <a class="backBTN" href="/portfolio"><i class="fas fa-home"></i> Return to Home</a>
    </div>


    <h2 id="Objective">Objective of CBB Bluechips</h2>
    <p>
        The winner will be crowned shortly after the championship game has been completed and will be awarded to the person with the highest net worth.
        Each person who plays, is tasked with the challenge of turning <span style="color: green; font-weight: bold;">$100,000</span> of fake cash, into the highest amount they can.
        During the tournament, a total of <b>67games</b> will be played over a few week span. Each of those games is an opportunity to increase your net worth.
    </p>


    <h2 id="Pointspread">Understanding the Point spread</h2>
    <p>
        The point spread is sometimes known as an equalizer for sportsbook operators. All teams aren’t created equally, so sportsbooks can create a point spread for a
        game so that each team playing has an almost even chance of winning the game. In a way, the point spread will even the field for both teams. With that being said,
        having a stake in a team that has recently beat the spread, will soon increase your net worth. On the flip side, owning a team that failed to "Cover", will take a hit
        to your net worth. <br />NOTE: The team with the negative point spread is always the favorite to win.
    </p>
    <p>
        On the market page, when browsing for a team to put some ownership into, you may notice something that looks like: "<i>(-4.5) VS: XXXXXXX</i>". What this tells you
        is the point spread for next upcoming game they are involved in. Lets say you are looking at buying Duke, and it says that. That means, in order for Dukes value to rise, they must win by
        more than 4.5 points. So hypothetically, if they win 65-55, they cover. If they only win 65-63, they fail to cover. If they lose, the failed to cover.
    </p>
    <p>
        For further assistance, please visit <a target="_blank" href="https://www.thelines.com/betting/point-spread/"> this other guide</a>.
    </p>


    <p id="pointSpreadCalHeader">Please use this Point spread calculator for testing</p>
    <div id="pointSpreadCal">
        <div class="row">
            <div class="col-sm-6">
                Team 1's final score:<br>
                <input maxlength="3" size="3" type="text" value="80" name="firstname">
            </div>
            <div class="col-sm-6">
                Team 2's final score:<br>
                <input maxlength="3" size="3" type="text" value="72" name="lastname">
            </div>
        </div>
        <div class="row spreads">
            <div class="col-sm-6">
                Point spread for T1:<br>
                <input maxlength="2" size="2" type="text" value="-5" name="lastname">
            </div>
            <div class="col-sm-6">
                Point spread for T2:<br>
                <input maxlength="2" size="2" type="text" value="5" name="lastname" readonly>
            </div>
        </div>

        <p id="CoverdTeam">Covered: <span class="result">Team 1</span></p>
        <p id="CoveredBy">Covered By: <span class="result">3</span></p>
    </div>


    <h2 id="Initial">Initial Setup</h2>
    <p>In quis ultrices nibh. Morbi et urna dignissim, pretium magna nec, aliquam ex. Lorem ipsum dolor sit amet,
        consectetur adipiscing elit. Integer semper justo eu sem tempor venenatis. Aenean elementum augue ante, sed
        consectetur metus efficitur id. Pellentesque
        varius lectus eget eleifend iaculis. Praesent posuere tellus non velit posuere pulvinar. Maecenas luctus
        dignissim suscipit. Ut vehicula erat a risus gravida sollicitudin. Suspendisse quam risus, tincidunt eu dapibus
        eu, suscipit id arcu.</p>


    <h2 id="Buying">Buying</h2>
    <p>Nullam consequat lectus eget magna interdum dapibus. Nam cursus aliquam commodo. Nullam interdum eleifend odio eu
        iaculis. Etiam convallis pellentesque erat, eget pharetra nulla tristique at. Proin auctor augue eleifend
        bibendum gravida. Phasellus pharetra
        hendrerit arcu sed suscipit. Proin quis maximus felis. Vestibulum pharetra lectus in metus sodales, ac volutpat
        augue euismod. Donec quis scelerisque augue, ullamcorper tincidunt nulla. Etiam tempor nibh ut tellus porttitor
        venenatis. Phasellus aliquam
        aliquet purus, sit amet luctus quam fermentum ultrices. Donec aliquam elit vel lectus sollicitudin lacinia
        lacinia gravida ipsum. Donec id justo nibh. Curabitur vulputate libero vitae lectus facilisis, vel mollis nisl
        fermentum. Vestibulum at ultrices
        nulla. Etiam feugiat sem eget turpis semper posuere.</p>
    <h2 id="Selling">Selling</h2>
    <p>Integer ultrices efficitur tincidunt. Mauris sed leo eget ante cursus posuere. Mauris sit amet elit ut enim
        fermentum hendrerit eu in augue. Praesent vitae auctor tortor. Quisque pretium est vitae vehicula ultricies.
        Etiam libero nisi, molestie sit amet
        justo quis, fringilla tempor odio. Sed vitae nisl in nisi dictum bibendum. Integer porttitor, nunc in bibendum
        lobortis, ex nunc volutpat massa, eu vestibulum metus magna eget metus. Nunc eleifend placerat ante, sed
        interdum sem laoreet eget. Pellentesque
        et diam sed enim rutrum ornare. Donec eget velit in mi eleifend auctor. Nullam elementum nulla eu dui congue
        ultricies. Phasellus quis tellus eget nibh accumsan feugiat eu non risus.</p>
    <h2 id="spread">Understanding Point-spread</h2>
    <p>Integer ultrices efficitur tincidunt. Mauris sed leo eget ante cursus posuere. Mauris sit amet elit ut enim
        fermentum hendrerit eu in augue. Praesent vitae auctor tortor. Quisque pretium est vitae vehicula ultricies.
        Etiam libero nisi, molestie sit amet
        justo quis, fringilla tempor odio. Sed vitae nisl in nisi dictum bibendum. Integer porttitor, nunc in bibendum
        lobortis, ex nunc volutpat massa, eu vestibulum metus magna eget metus. Nunc eleifend placerat ante, sed
        interdum sem laoreet eget. Pellentesque
        et diam sed enim rutrum ornare. Donec eget velit in mi eleifend auctor. Nullam elementum nulla eu dui congue
        ultricies. Phasellus quis tellus eget nibh accumsan feugiat eu non risus.</p>
</div>
</body>
</html>
