<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Krona One' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="/css/Header.css"/>
    <link rel="stylesheet" type="text/css" href="/css/Trade.css"/>
    <script src="/js/TradeCentral.js"></script>
    <link rel="icon"
          href="https://listimg.pinclipart.com/picdir/s/71-713825_clip-art-arrow-bar-chart-diagram-graph-growth.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
          integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Alfa Slab One' rel='stylesheet'>
    <title>Trade Central</title>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-155112023-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-155112023-1');
</script>

</head>
<body>
<header class="header">
    <div id="logo"></div>
    <h1>College Basketball's Bluechips</h1>
</header>
<div class="container">

    <nav>
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="/portfolio">My Portfolio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/market">Market</a>
            </li>
        </ul>
    </nav>

    <h2 class="CapitalAvailable">
        Capital Available<br />
        <span th:text="'$' + ${#numbers.formatDecimal(user.cash, 1, 'DEFAULT', 0, 'DEFAULT')}"></span>
    </h2>
    <div class="card tradeBlock">
        <div class="card-header">
            <h1 th:text="${team.teamName}"></h1><img class="logo" th:style="${team.eliminated} ? 'filter: grayscale(100%)' : ''" th:src="@{${'/img/' + team.teamName + '.png'}}"/>
            <h3 th:text="'$' + ${#numbers.formatDecimal(team.currentMarketPrice, 1, 'DEFAULT', 0, 'DEFAULT')}" id="costPerShare"></h3>
            <br/>
            <i class="fas fa-shopping-cart"></i> Money Spent: <span id="totalSpent">$0 </span>
        </div>
        <div class="card-body">
            <h6 class="card-title">Slide to the right to increase amount</h6>
            <div class="row">
                <div class="col-md-6 col-lg-4" id="BUY_SECTION">
                    <form action="/trade-action/buy" method="post">
                        <input class="slider" onchange="updateBuyBTN(this.value)" type="range" min="0" th:max="${details.maximumCanPurchase}" value="0" id="buySlider" name="volume">
                        <input th:value="${team.teamId}" type="hidden" name="teamId">
                        <br/>
                        <button th:if="${!team.locked}" id="buyBTN" type="submit" class="sell btn btn-success tradeBTN">Buy</button>
                        <button th:if="${team.locked}" disabled id="buyBTN" type="submit" class="sell btn btn-success tradeBTN"><i class="fas fa-lock"></i> Buy</button>
                    </form>
                </div>
                <div class="col-md-6 col-lg-4" id="SELL_SECTION">
                    <form action="/trade-action/sell" method="post">
                        <input class="slider" onchange="updateSellBTN(this.value)" type="range" min="0" th:max="${details.availableToSell}" value="0" id="sellSlider" name="volume">
                        <input th:value="${team.teamId}" type="hidden" name="teamId">
                        <br/>
                        <button th:if="${!team.locked and details.availableToSell &gt; 0}" id="sellBTN" type="submit" class="sell btn btn-success tradeBTN">Sell</button>
                        <button th:if="${team.locked or details.availableToSell &lt; 1}" disabled id="sellBTN" type="submit" class="sell btn btn-success tradeBTN"><i class="fas fa-lock"></i> Sell</button>
                    </form>
                </div>
                <div class="col-lg-4 text-center">
                    <h3>Top Shareholders:</h3>
                    <div th:each="shareHolder : ${details.topHolders}" th:text="${shareHolder}"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
