<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <title>Personalized Calculator</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.4.2/css/all.css"
      integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Alfa Slab One"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="../css/Header.css" />
    <link rel="stylesheet" type="text/css" href="../css/Calculator.css" />
    <link
      rel="icon"
      href="https://listimg.pinclipart.com/picdir/s/71-713825_clip-art-arrow-bar-chart-diagram-graph-growth.png"
    />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-155112023-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-155112023-1");

      if (
        !location.hostname.includes("local") &&
        location.protocol !== "https:"
      ) {
        location.protocol = "https:";
      }
    </script>
  </head>
  <body>
    <header class="header">
      <div id="logo"></div>
      <h1>College Basketball's Bluechips</h1>
    </header>
    <div class="container">
      <nav>
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link" href="/">Return to Home</a>
          </li>
        </ul>
      </nav>
      <div class="row">
        <div class="col-md-12">
          <p id="pointSpreadCalHeader">Hypothetical Point-spread Calculator</p>
          <div id="pointSpreadCal">
            <div class="row">
              <div class="col-sm-6">
                <span
                  id="team1NAME"
                  th:text="${calculatorDetail.teamNameOwned}"
                ></span
                >'s<br />Final score:<br />
                <input
                  th:value="${calculatorDetail.finalScoreOwned}"
                  maxlength="3"
                  size="3"
                  class="scoreInput"
                  type="text"
                  id="team1Score"
                />
              </div>
              <div class="col-sm-6">
                <span
                  id="team2NAME"
                  th:text="${calculatorDetail.teamNamePlaying}"
                ></span
                >'s<br />Final score:<br />
                <input
                  th:value="${calculatorDetail.finalScorePlaying}"
                  maxlength="3"
                  size="3"
                  class="scoreInput"
                  type="text"
                  id="team2Score"
                />
              </div>
            </div>
            <div class="row spreads">
              <div class="col-sm-6">
                <span th:text="${calculatorDetail.teamNameOwned}"></span>'s
                PS<br />
                <input
                  th:value="${calculatorDetail.pointSpreadOwned}"
                  maxlength="5"
                  size="4"
                  type="text"
                  id="team1ps"
                  pattern="^-?\d+(\.\d{1,2})?$"
                />
              </div>
              <div class="col-sm-6">
                <span th:text="${calculatorDetail.teamNamePlaying}"></span>'s
                PS<br />
                <input
                  th:value="${calculatorDetail.pointSpreadPlaying}"
                  maxlength="5"
                  size="4"
                  type="text"
                  id="team2ps"
                  readonly
                />
              </div>
            </div>

            <p id="CoverdTeam">
              Covered:
              <span
                th:text="${calculatorDetail.teamThatCovered}"
                class="result"
              ></span>
            </p>
            <p id="CoveredBy">
              Covered By:
              <span
                th:text="${calculatorDetail.coveredBy}"
                class="result"
              ></span>
            </p>
            <p id="NewValue">
              <span th:text="${calculatorDetail.teamNameOwned}"></span> once
              valued at
              <span
                id="startingValue"
                th:text="${calculatorDetail.startingValue}"
              ></span>
              <br />Would now be valued at:
              <span
                id="teamOwnedNewValue"
                th:text="${calculatorDetail.teamOwnedNewValue}"
                class="result"
              ></span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <script>
      var startingValue = parseFloat($("#startingValue").text());
      var teamOwnedNewValue = parseFloat($("#teamOwnedNewValue").text());

      $(document).ready(function() {
        $("#startingValue").text("$" + ReplaceNumberWithCommas(startingValue));
        $("#teamOwnedNewValue").text(
          "$" + ReplaceNumberWithCommas(teamOwnedNewValue)
        );

        $(document).on("keyup", "#team1ps", function() {
          var inputValue = $("#team1ps").val();
          var inpObj = document.getElementById("team1ps");
          if (inpObj.checkValidity()) {
            $("#team2ps").val(inputValue * -1);
            showOutcome();
          } else {
            $("#team2ps").val("");
            updateOutcome("", "");
          }
        });

        $(document).on("keyup", ".scoreInput", function() {
          showOutcome();
        });

        $(".nav-link").on("click", function() {
          var headerHeight = $("#stick").height();

          var name = $(this)
            .attr("id")
            .replace("LINK", "");
          var position = $("#" + name).offset().top - (headerHeight + 55);
          $("HTML, BODY").animate(
            {
              scrollTop: position
            },
            750
          );
        });
      });

      function updateOutcome(coveredBy, coveredTeam) {
        $("#CoveredBy .result").text(coveredBy);
        $("#CoverdTeam .result").text(coveredTeam);
      }

      function showOutcome() {
        var team1 = parseFloat($("#team1Score").val());
        var team2 = parseFloat($("#team2Score").val());
        var pointspread = parseFloat($("#team1ps").val());

        if (!isNaN(team1) && !isNaN(team2) && !isNaN(pointspread)) {
          if (team1 + pointspread != team2) {
            var pointspread = parseFloat($("#team1ps").val());
            var didTeamOneWin = team1 + pointspread > team2;
            var winningTeam = didTeamOneWin
              ? $("#team1NAME").text()
              : $("#team2NAME").text();
            var coveredBy = parseFloat(team1 + pointspread - team2);

            updateOutcome(
              coveredBy < 0 ? coveredBy * -1 : coveredBy,
              winningTeam
            );

            var x = startingValue + coveredBy * 100;

            if (x < 0) x = 0;

            $("#NewValue .result").text("$" + ReplaceNumberWithCommas(x));
          } else {
            updateOutcome("0", "SPLIT");
            $("#NewValue .result").text("$5,000");
          }
        } else {
          updateOutcome("", "");
          $("#NewValue .result").text("");
        }
      }

      function ReplaceNumberWithCommas(yourNumber) {
        var n = yourNumber.toString().split(".");
        n[0] = n[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        return n.join(".");
      }
    </script>
  </body>
</html>
