#header-wrapper {
  padding-top: 0px;
  background: linear-gradient(to bottom, #1e5799, #326b9b);
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0px;
  z-index: 99;

  .header {
    text-align: center;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.25);
    width: 100%;
    font-family: "Alfa Slab One", sans-serif;
    font-size: 1.2em;
    margin-bottom: 25px;
    font-weight: lighter;
    letter-spacing: 2px;
    padding: 15px;

    > h1 {
      font-size: 2em;
      color: white;
      margin: 0px;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 600px) {
  #header-wrapper {
    .header {
      > h1 {
        font-size: 1.2em;
        font-weight: 300;
      }
    }
  }
}
