.header {
  text-align: center;
  background: linear-gradient(to bottom, #1e5799, #326b9b);
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.25);
  position: relative;
  width: 100%;
  font-family: "Alfa Slab One", sans-serif;
  font-size: 1.2em;
  margin-bottom: 25px;
  font-weight: lighter;
  letter-spacing: 2px;
  padding: 15px;
}

.header > h1 {
  color: white;
  margin: 0px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .header > h1 {
    font-size: 1em;
    font-weight: 300;
  }
}
